@charset "utf-8";

/* CSS Document */

html,
body {
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, sans-serif, arial, 'Hiragino Sans GB', '\5b8b\4f53';
    -webkit-font-smoothing: antialiased;
}


/*body{overflow-x:hidden;}*/

@-ms-viewport {
    width: device-width;
}

@-webkit-viewport {
    width: device-width;
}

img {
    border: none;
    vertical-align: middle;
    display: block;
}

a {
    star: expression(onfocus=this.blur);
    outline: none;
    text-decoration: none;
}

a:hover,
a:active {
    outline: 0;
}

input,
button {
    border: none;
}

ul,
ul li,
ol,
ol li {
    list-style-type: none !important;
}

.mz_clear {
    clear: both !important;
}

.mz_clear:after {
    clear: both;
    visibility: hidden;
    display: block;
}

.mz_fr {
    float: right;
}

.mz_fl {
    float: left;
}

.red {
    color: #cc0000!important;
}

.b_r_b {
    border-top: #f5f5f5 1px solid;
    border-right: #f5f5f5 1px solid;
}

.t-d:hover {
    text-decoration: none !important;
}


/*顶部banner结束*/

.mz_home_topLeft a:hover {
    color: #e00000 !important;
}

#mz_home_top .public-top-layout .mz_home_topLeft a:hover {
    text-decoration: underline;
}

#mz_home_top {
    position: relative;
    height: 30px;
    background: #eee none repeat scroll 0 0;
    border-bottom: 1px solid #dfdfdf;
    margin: 0 auto;
    clear: both;
    z-index: 10000;
}

#mz_home_top .public-top-layout {
    clear: both;
    font: 16px/17px "微软雅黑", "宋体", Arial, Verdana, "Lucida Grande", "Lucida Sans Unicode", Helvetica, sans-serif;
    margin: 0 auto;
    width: 1230px;
}

#mz_home_top .public-top-layout .mz_home_topLeft {
    width: 420px;
    height: 20px;
    margin-top: 8px;
    overflow: hidden;
}

#mz_home_top .public-top-layout .mz_home_topLeft a,
#mz_home_top .public-top-layout .mz_home_topLeft span,
#mz_home_top .public-top-layout .mz_home_topLeft i,
#mz_home_top .public-top-layout .mz_home_topLeft b {
    display: block;
    color: #666666;
    float: left;
    margin: 0 0.5%;
    white-space: nowrap;
    font-size: 0.75em;
}

// #mz_home_top .public-top-layout .mz_home_topLeft i{ font-size:15px; color:#db0000; margin-right:-0.1%;}
#mz_home_top .public-top-layout .mz_home_topLeft i {
    width: 12px;
    margin-right: -0.1%;
    margin-top: 2px;
}

.mz_home_topLeft i img {
    width: 100%;
}

#mz_home_top .public-top-layout .mz_home_topLeft .rfont {
    max-width: 110px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

#mz_home_top .public-top-layout .mz_home_topLeft .nc-grade-mini {
    background-color: #f33;
    color: #fff4f4;
    margin-right: 1%;
    font: italic 600 12px/16px Georgia, Arial;
    height: 1rem;
    *height: 1em;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    margin-top: -0.5%;
    float: left;
    border-radius: 2px;
}

.mz_home_topRight {
    width: 520px;
}

.mz_home_topRight dl {
    position: relative;
    width: 90px;
    float: right;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.mz_home_topRight .mz-top-buy {
    width: 40px;
    margin-top: 0.48%;
}

.mz_home_topRight dl dt {
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 7% 0;
    white-space: nowrap;
}

.mz_home_topRight dl dt a {
    display: block;
    position: relative;
    width: 100%;
    color: #666666;
    font-size: 0.75em;
    overflow: hidden;
}

.mz_home_topRight dl dt a b {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: normal;
}

.mz_home_topRight dl dt a i {
    display: block;
    position: absolute;
    right: 10%;
    top: 3%;
    width: 12px;
    height: 12px;
    background: url(../images/down.png) center no-repeat;
}

.hover {
    background: #FFFFFF;
    border-left: #dfdfdf 1px solid;
    border-right: #dfdfdf 1px solid;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.mz_home_topRight dl dt:hover i {
    background: url(../images/up.png) center no-repeat;
}

.mz_home_topRight dl dd {
    width: 100%;
    position: absolute;
    z-index: 10000;
    float: left;
    top: 28px;
    left: -1px;
    border-bottom: #dfdfdf 1px solid;
    border-left: #dfdfdf 1px solid;
    border-right: #dfdfdf 1px solid;
    display: none;
    background-color: #FFF;
}

.mz_home_topRight dl dd:hover {
    display: block !important;
}

.mz_home_topRight dl dd ul {
    background: #fffff;
}

.mz_home_topRight dl dd ul li {
    width: 100%;
    background: #fffff;
    margin-left: 15%;
}

.mz_home_topRight dl dd ul li a {
    diaplay: block;
    heiht: 22px;
    line-height: 22px;
    color: #666666;
    font-size: 0.75em;
}

.mz_home_topRight dl dd img {
    width: 200px;
    height: 200px;
}

.mz-w30 {
    width: 30px !important;
}

@media screen and (min-width:1024px) and (max-width:1280px) {
    .mz-top-box,
    .mz-v_nav,
    .mz-tie_nav,
    .big-slide .big-slide_box .main-banner .main-banner-outcon,
    .group,
    .mz-title,
    .mz-content-banner,
    .mz-product,
    .mz_nm,
    #mz_home_top .public-top-layout,
    .mz_home_footTopTop a {
        width: 1000px;
    }
    #mz_home_top {
        min-width: 1000px;
    }
    #mzPage {
        min-width: 1000px;
    }
    .grouppro {
        width: 19.2%
    }
    .groupImg {
        width: 19.1%;
    }
    .mz-product {
        height: 420px;
    }
    .mz-product-banner {
        width: 211px;
        height: 300px;
    }
    .mz-product_bd li a img {
        width: 211px;
    }
    .mz-product_bottom .mz-product_bottom_box {
        width: 24.79%;
    }
}

@media screen and (max-width:1280px) {
    .head-user-menu {
        margin-right: 3%;
        *width: 10%;
    }
    .head-user-menu dl.my-mall dt,
    .head-user-menu dl.my-cart dt {
        width: 14px;
    }
    .head-user-menu dl.my-mall span.ico {
        margin: 0 5px 0 0;
    }
    .head-user-menu dl.my-cart span.ico {
        margin: 0 6px 0 -3px;
    }
}

@media screen and (max-width:1024px) {
    .mz-top-box,
    .mz-v_nav,
    .mz-tie_nav,
    .big-slide .big-slide_box .main-banner .main-banner-outcon,
    .group,
    .mz-title,
    .mz-content-banner,
    .mz-product,
    .mz_nm,
    #mz_home_top .public-top-layout,
    .mz_home_footTopTop a {
        width: 980px;
    }
    #mz_home_top {
        min-width: 980px;
    }
    #mzPage {
        min-width: 980px;
    }
    .grouppro {
        width: 19.2%
    }
    .groupImg {
        width: 19.1%;
    }
    .mz-product {
        height: 412px;
    }
    .mz-product_bd li a img {
        width: 207px;
    }
    .mz-product-banner {
        width: 207px;
        height: 295px;
    }
    .mz-product_bottom .mz-product_bottom_box {
        width: 24.79%;
    }
}